/* evaluation.css */
.page-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
  }
  

.back-button,
.dashboard-button {
  background-color: #ddd;
  color: #333;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover,
.dashboard-button:hover {
  background-color: #ccc;
}

.success-message {
  color: green;
  margin-bottom: 10px;
  font-weight: bold;
}

.rating-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rating-button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}
